:root {
  --spacing-padding: 1rem;
  --spacing-gap: 4px;
  --spacing-mb: 1rem;
  --border-radius: 4px;
  --border: 1px solid #aaa;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  word-spacing: 0.2rem;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: var(--spacing-padding);
  display: flex;
  justify-content: center;

  & ul.human-choices {
    list-style: none;
    display: flex;
    gap: var(--spacing-gap);
  }

  & .btn.rock {
    background: #930202;
  }

  & .btn.paper {
    background: #1f7801;
  }

  & .btn.scissors {
    background: #170482;
  }

  & button.btn:active {
    background-color: #aaa9;
    color: #000;
  }

  & button.btn:hover {
    font-weight: 600;
  }
}

main {
  padding: var(--spacing-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  justify-content: center;
  margin-top: 4rem;

  & .ring {
    border: var(--border);
    padding: var(--spacing-padding);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80vw;
    height: 20vh;
    flex: 0 0 auto;

    & .row.first {
      display: flex;
      justify-content: space-between;
    }

    & .row.second {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      align-self: center;
    }

    & img {
      height: auto;
      width: 100px;
    }
  }

  & .btn.restart {
    background-color: #37be09;
    margin-top: 1rem;
    display: none;
  }

  & .btn.restart:active {
    background-color: #aaa9;
    color: #000;
  }

  & .btn.restart:hover {
    font-weight: 600;
  }
}

footer {
  border: var(--border);
  padding: var(--spacing-padding);
  display: flex;
  justify-content: center;

  & img {
    height: auto;
    width: 100px;
    cursor: pointer;
  }
}

button {
  padding: var(--spacing-padding);
  border: var(--border);
  border-radius: var(--border-radius);
  width: 100px;
  color: #fff;
  cursor: pointer;
}